ion-icon{
    width: 100px;
    height: 100px;
}
.header-row{
    text-align:center;
    // padding-left: 10px;

}
.data-row{
    text-align: center;
    padding: 6px; 
}
// .header-row {

// 	// font-weight:500;
// 	border-bottom:1px solid #000;
// 	font-size: 18px;
// 	font-weight: bold; 
// 	// background-color:green;

//   }
// .data-row{
// 	border-bottom:1px solid #000;

// }

// 	ion-grid { 
// 		width: 100%; 
// 		border-collapse: collapse; 
// 	}

// 	ion-row:nth-of-type(odd) { 
// 		background: #eee; 
// 	}

// ion-col { 
// 		padding: 6px; 
// 		border: 1px solid black; 
// 		text-align: left; 
// 		// background:#ccc;
// 	}

