ion-grid{
  // background-color: gray;
  // background-image: url('../../assets/images/background.jpg');
  height: 100%;
// margin: 100px;
}
ion-card{
  justify-content: center;
  text-align: center;

}
